{% for password in common_credentials.passwords %}
{{ password }}
{% endfor %}
password123
admin123
root123
user123
test123
demo123
welcome
welcome123
qwerty
qwerty123
123456789
password1
admin1
root1
letmein
passw0rd
iloveyou
monkey
dragon
sunshine
princess
football
baseball
superman
batman
master
shadow
michael
jennifer
jordan
michelle
daniel
andrew
joshua
christopher
matthew
anthony
mark
donald
steven
william
kenneth
paul
kevin
barbara
betty
helen
sandra
donna
carol
ruth
sharon
michelle
laura
sarah
kimberly
deborah
dorothy
lisa
nancy
karen
maria