{% for username in common_credentials.usernames %}
{{ username }}
{% endfor %}
ubuntu
debian
kali
oracle
postgres
mysql
ftp
www-data
apache
nginx
pi
user1
user2
user3
testuser
demouser
temp
backup
support
sales
marketing
hr
finance
it
sysadmin
webadmin
dbadmin
netadmin